src/main/mule/soap_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="soap_apiFlow" doc:id="fb5062d5-0358-414a-82b0-8cd4e368ef09" >
		<http:listener doc:name="Listener" doc:id="d79d9e25-b8bf-4333-ab93-dd0381726f50" config-ref="HTTP_Listener_config" path="/calculator"/>
		<ee:transform doc:name="Transform Message" doc:id="ad0838f6-19f7-47f9-8cc1-5c4f55227c08" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.oorsprong.org/websamples.countryinfo
---
{
	ns0#FullCountryInfo: {
		ns0#sCountryISOCode: payload.CountryISOCode
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="FullCountryInfo" doc:id="bc38d75d-6acd-4863-8af9-b6d7ce15c518" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="d5cb74ec-5f17-4787-b66b-ce56879fa153" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"output":payload.body.FullCountryInfoResponse.FullCountryInfoResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
